* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;}
    body { margin:0; font-family:Helvetica, Arial, sans-serif; background:#000; color:#fff; }
    header { display:flex; justify-content:space-between; align-items:center; padding:5px 0px 5px 0px; background:rgba(0,0,0,0.8); position:fixed; width:100%; top:0; z-index:10; backdrop-filter:blur(10px);}    
    header img { height:40px; }
    nav ul { list-style:none; display:flex; gap:25px; }
    nav ul li:last-child {
    margin-right: 30px;
    }
    nav a { color:#fff; text-decoration:none; font-size:14px; letter-spacing:1p