* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;}
    body { margin:0; font-family:Helvetica, Arial, sans-serif; background:#000; color:#fff; }
    header { display:flex; justify-content:space-between; align-items:center; padding:5px 0px 5px 0px; background:rgba(0,0,0,0.8); position:fixed; width:100%; top:0; z-index:10; backdrop-filter:blur(10px);}    
    header img { height:40px; padding:5px 0px 5px 0px; }
    nav ul { list-style:none; display:flex; gap:25px; }
    nav ul li:last-child {
    margin-right: 30px; 
    }
    nav a { color:#fff; text-decoration:none; font-size:14px; letter-spacing:1px; }
    .key-message { text-align:center; margin:360px 20px; }
    .key-message h1 { font-size:50px; letter-spacing:2px; }
    .key-message h3 { font-size:32px; opacity:0.8; }
    footer { text-align:center; padding:20px; border-top:1px solid #333; opacity:0.6; font-size:12px; margin-top:40px; }
     .video-bg {
      position: fixed; 
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; 
      z-index: -1; 
    }
    .content {
      position: relative;
      z-index: 1;
      color: white;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }

    p {
      font-size: 1.5rem;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: 0;
    }
