* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;}
    body { margin:0; font-family:Helvetica, Arial, sans-serif; background:#000; color:#fff; }
    header { display:flex; justify-content:space-between; align-items:center; padding:5px 0px 5px 0px; background:rgba(0,0,0,0.8); positio